form{
	margin-bottom: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* Home */

html.home{
	background: #f5f5f5;
}

.header-logo{
	width: 100%;
	background: #1F1E20;
	padding: 15px 0 10px 10%;
	svg{
		fill:#fff;
		width:294px;
	}
}


#home{
	padding-bottom: 50px;
}

#home .page-content{
	width: 1400px;
	margin: 0 auto;
}

#home .hero{
	width: 100%;
	height: 500px;
	background: image-url("home/hero.jpg") center center no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	letter-spacing: .09em;
	margin: 0 auto;
}

#home .hero .by_cassina{
		display: block;
		width: 93px;
		height: 93px;
		background: image-url("home/by_cassina.png") center center no-repeat;
		background-size: 93px 93px;
		position: absolute;
		bottom: 1em;
		right: 3em;
	}


#home .hero::after {
	  content: "";
	  background: #000;
	  opacity: 0.1;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: 0;   
	}


#home .hero .hero-text{
	margin:60px 0 0 10%;
	width: 420px;	
	position: relative;
	z-index: 10;
}
#home .hero .large{
	font-weight: bold;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	margin: 85px 0 0 o;
	position: relative;
	z-index: 2;
	letter-spacing: 2px;
	text-align: left;
}

#home .hero p{
	color:#e5e5e5;
}

#home .hero .small{
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	margin: 10px 0 0 o;
	line-height: 30px;
	position: relative;
	z-index: 2;
	text-align: left;
	width: 375px;
	letter-spacing: 1px;
}

#home .hero .divider{
	display: block;
	width: 50px;
	height: 1px;
	background:#fff;
	margin: 20px 0;
}


#home .form-wrap{
	height: 80px;
	width: 411px;
	margin: 23px auto 0;
}

 .key{
	width: 46px;
	height: 19px;
	margin: 0 auto;
	background: image-url("home/key.png") 0 0 no-repeat;
	background-size: 27px 16px;
}

 .prizes .key{
 	margin-top: 20px;
 }

#home .form-wrap .byline{
	font-size: 15px;
	text-transform: uppercase;
	color: #525252;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 15px 0;
}

#home .form-wrap .email{
	float: left;
	font-size: 13px;
	padding: 19px 0 20px 10px;
	border: 1px solid #e5e5e5;
	width: 256px;
	outline: none;
	letter-spacing: 1px;
	border-radius: 0;
}

#home .form-wrap .smallprint{
	float: left;
	color:#999;
}

#home .form-wrap .submit{
	width: 143px;
	background: #18191B;
	float: left;
	height: 58px;
	line-height: 58px;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	border: 0;
	letter-spacing: 2px;
}

#home .form-wrap.ended{
	width: 500px;
	margin-top: 27px;
}

#home .form-wrap.ended .thanks{
	text-transform: uppercase;
	font-weight: 500;
	color: #151515;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 36px;
	margin-bottom: 14px;
}

#home .form-wrap.ended .compiling{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 30px;
	color: #555556;
	text-align: center;
	font-weight: 500;
	margin-bottom: 24px;
}

#home .form-wrap.ended .go-to{
	font-style: italic;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a{
	color: #151515;
	font-size: 19px;
	font-weight:bold;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover{
	color: #955F5D;
}

#home .form-wrap.ended .again{
	font-weight: 500;
	color: #555556;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

#home .form-wrap.ended{
	width: 500px;
	margin-top: 27px;
}

#home .form-wrap.ended .thanks{
	text-transform: uppercase;
	font-weight: 500;
	color: #151515;
	text-align: center;
	font-size: 22px;
	letter-spacing: 1px;
	line-height: 36px;
	margin-bottom: 14px;
}

#home .form-wrap.ended .compiling{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 30px;
	color: #555556;
	text-align: center;
	font-weight: 500;
	margin-bottom: 24px;
}

#home .form-wrap.ended .go-to{
	font-style: italic;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 25px;
}

#home .form-wrap.ended .go-to a{
	color: #151515;
	font-size: 19px;
	font-weight:bold;
	text-transform: uppercase;
	font-style: normal;
	text-decoration: none;
}

#home .form-wrap.ended .go-to a:hover{
	color: #955F5D;
}

#home .form-wrap.ended .again{
	font-weight: 500;
	color: #555556;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}



/* Refer a friend page */

.wf-loading .brandon{
	visibility: hidden;
}

.brandon{
	font-family: "Brandon Grotesque", "brandon-grotesque", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

#refer{
	background: #f5f5f5;
}

#refer .page-content{
	max-width: 1120px;
	margin: 0 auto;
	z-index: 0;
	position: relative;
}

#refer .header{
	height: 50px;
	background: #151515;
	width: 100%;
	overflow:hidden;
	z-index: 1;
	position: relative;
}

#refer .header .content{
	width: 315px;
	margin: 0 auto;
}

#refer .header p{
	float: left;
	color: #FFF;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 50px;
}

#refer .header .byline{
	font-size: 14px;
}



#refer .header .logo{
	font-weight: normal;
	font-size: 0;
	line-height: 0;
	margin-right: 14px;
	letter-spacing: 1px;
	background: image-url("refer/logo.png") 0 0 no-repeat;
	background-size: 106px 19px;
	height: 19px;
	width: 106px;
	margin-top: 15px;
}

#refer .hero{
	background: #F1F0EE;
	height: 450px;
	overflow: hidden;
}

#refer .mammoth{
	width: 612px;
	height: 450px;
	background: image-url("refer/mammoth.png") 0 0 no-repeat;
	background-size: 697px 450px;
	overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#refer .mammoth .need{
	color: #FFF;
	font-size: 38px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 102px 0 0 72px;
	display: block;
	line-height: 56px;
	letter-spacing: 4px;
	text-align: center;
	width: 284px;
}

#refer .share-wrap{
	float: left;
	width: 440px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .13em;
	margin-right: 60px;
}

#refer .share-wrap .why{
	font-size: 16px;
	color: #555556;
	font-weight: bold;
	margin-top: 42px;
}

#refer .share-wrap .title{
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	color: #151515;
	margin-top: 18px;
	letter-spacing: .13em;
}

#refer .share-wrap .subtitle{
	color: #565656;
	font-size: 14px;
	text-transform: none;
	margin-top: 15px;
}

#refer .share-wrap .copy-link{
  border: 1px solid #CDC9D0;
  background: #FFF;
  padding: 17px 20px;
  width: 320px;
  text-transform: none;
  font-size: 11px;
  margin: 20px auto 0;
  text-transform: uppercase;
}

#refer .share-wrap .social-links{
	margin: 25px auto 0;
	text-align: center;
}

#refer .share-wrap .social-links a, #refer .share-wrap .social-links div{
	display: inline-block;
}

#refer .share-wrap .social-links .fb{
	background: image-url("refer/fb.png");
	background-size: cover;
	width:249px;
	height: 45px;
}

#refer .share-wrap .social-links .twit{
	background: image-url("refer/twit.png");
	background-size: 27px 27px;
	width: 27px;
	height: 27px;
}

#refer .share-wrap .social-links .sep{
	height: 28px;
	width: 1px;
	background: #BAB9BA;
	margin: 0 20px;
}

#refer .prizes{
	width: 100%;
	background: #FFF;
	border-top: 1px solid #D2D1C8;
	padding-bottom: 100px;
}

#refer .prizes .page-content{
	position: relative;
}

#refer .prizes .callout{
	text-align: center;
	font-size: 16px;
	color: #151515;
	font-weight: bold;
	margin: 20px 0 0 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#refer .prizes .progress{
	height: 4px;
	width: 95%;
	background: #e4e4e4;
	background-size: 1px 4px;
	position: absolute;
	top: 47px;
	z-index: 0;
}

#refer .prizes .progress .mover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#refer .prizes .progress .mover .bar{
	background:black;
	width: 25%;
	height: 4px;
	-webkit-background-size: 1px 4px;
	background-size: 1px 4px;
}

#refer .prize-two .progress .mover .bar{ width: 50%; }
#refer .prize-three .progress .mover .bar{ width: 75%; }
#refer .prize-four .progress .mover .bar{ width: 100%; }
#refer .prize-five .progress .mover .bar{ width: 100%; }


#refer .prizes ul.products{
	height: 105px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	z-index: 1;
}

#refer .prizes .products li.title{
	height: 100%;
	text-transform: uppercase;
	color: #151515;
	font-weight: 500;
	font-size: 14px;
	float: left;
	margin-right: 0;
	width: 25%;
	font-weight: bold;
}

#refer .prizes .products li.title .friends{
	margin-top: 7px;
	letter-spacing: 2px;
}

#refer .prizes .products li.title .rewards{
	margin-top: 45px;
	letter-spacing: 2px;
}

#refer .prizes .products li.product{
	height: 100%;
	color: #151515;
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
}

#refer .prizes .products li.product .circle{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	border: 1px solid #DAD9D2;
	text-align: center;
	line-height: 30px;
	color: #868282;
	overflow: hidden;
	background: #F1F0EE;
	font-weight: bold;
	margin: 0 auto;
}

#refer .prizes .products li.product .sep{
	width: 12px;
	height: 2px;
	background: transparent;
	margin: 13px auto 13px;
}

#refer .prizes .products li.product .caret{
	width: 100%;
	height: 10px;
	background: image-url("refer/caret.png") center center no-repeat;
	background-size: 16px 10px;
	position: absolute;
	bottom: -15px;
}

#refer .prizes .products li.product.selected .caret{
	background: image-url("refer/caret-selected.png") center center no-repeat;
	background-size: 16px 10px;
}

#refer .prizes .products li.product p{
	text-align: center;
	font-weight: 500;
}

#refer .prizes .products li.product p span{

	font-weight:300;
}

#refer .prizes .products li.product:last-child{
	margin-right: 0;
}

#refer .prizes .products li.product.last{
	margin-right: 0;
}

#refer .prizes .products li.product.selected .circle{
	background: #995F5E !important;
	border-color: #995F5E !important;
	color: #FFF !important;
}


#refer .prizes .products li.product.selected p{
	color: #995F5E !important;
}

#refer .prizes .products li.product:hover .circle{
	color: #FFF;
	background: #151515;
	border-color: #151515;
}

#refer .prizes .products li.product .tooltip{
	height: 254px;
	width: 190px;
	border: 4px solid #151515;
	position: absolute;
	top: -285px;
	left: 38px;
	display: none;
	background: #FFF;
}

#refer .prizes .products li.product .tooltip img{
	margin: 0 auto;
	display: block;
}

#refer .prizes .products li.product:hover .tooltip{
	display: block;
}

#refer .prizes p.place{
	text-align: center;
	font-size: 16px;
	color: #151515;
	width: 100%;
	font-weight: 500;
	margin-top: 10px;
}

#refer .prizes p.place span{
	color: #995F5E;
}

#refer .prizes p.check{
	text-align: center;
	font-size: 16px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
}

#refer .prizes p.ship{
	text-align: center;
	font-size: 16px;
	color: #858181;
	width: 100%;
	font-weight: 500;
	margin-top: 50px;
}

#refer .prizes a.policy{
	text-align: center;
	font-size: 12px;
	color: #CCCCCC;
	width: 100%;
	font-weight: 500;
	margin-top: 5px;
	display: block;
	text-decoration: none;
}

.end-text{
	margin-top: 30px;
}



/*
	RETINA
*/
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	#home .hero{
		background: image-url("home/hero@2x.jpg") center center no-repeat;
		background-size: cover;
	}

	#home .hero .by_cassina{
		background: image-url("home/by_cassina@2x.png") center center no-repeat;
		background-size: 93px 93px;
	}

	.key{
		background: image-url("home/key@2x.png") 0 0 no-repeat;
		background-size: 27px 16px;
	}

	#refer .header .logo{
		background: image-url("refer/logo@2x.png") 0 0 no-repeat;
		background-size: 106px 19px;
	}

	#refer .mammoth{
		background: image-url("refer/mammoth@2x.png") 0 0 no-repeat;
		background-size: 697px 450px;
	}

	#refer .share-wrap .social-links .fb{
		background: image-url("refer/fb@2x.png");
		background-size: cover;
	}

	#refer .share-wrap .social-links .twit{
		background: image-url("refer/twit@2x.png");
		background-size: 27px 27px;
	}



	#refer .prizes .progress .mover .razor{
		background: image-url("refer/razor@2x.png") 0 0 no-repeat;
		background-size: 82px 23px;
	}

	#refer .prizes .products li.product .caret{
		background: image-url("refer/caret@2x.png") center center no-repeat;
		background-size: 16px 10px;
	}

	#refer .prizes .products li.product.selected .caret{
		background: image-url("refer/caret-selected@2x.png") center center no-repeat;
		background-size: 16px 10px;
	}
}


@media (max-width: 900px) {


	#refer .hero .mammoth{
		opacity: .3;
	}
	#refer .prizes ul.products{
		max-width: 300px;
		margin: 0 auto;
		margin-top: 1em;
		height: auto;

	}

	#refer .share-wrap{
		margin: 0 auto;
		float: none;
	}

	#refer .prizes .products li.product .circle{
		margin: 20px 0 0 1em;
		height: 50px;
    width: 50px;
     line-height: 50px;
    border-radius: 100%;
	}
	#refer .prizes .products li.product p{
		text-align: right;
    width: 144px;
    position: absolute;
    top: 110px;
    right: 17px;

	}
	#refer .prizes .products li.product p span{
		font-weight: 300;
	}
	#refer .prizes .products li.title{
		width: 100%;
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #e4e4e4;
		float: none;
	}
	#refer .prizes .products li.title .rewards, #refer .prizes .products li.title .friends{
		margin: 0;
		font-size: 12px;
		display: inline-block;
		float: left;
	}
	#refer .prizes .products li.title .rewards{
		float: right;
	}
	#refer .prizes .products li.product .sep{
		display: none;
	}
	#refer .prizes .products li.product{
		width: 100%;
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #e4e4e4;
		float: none;
		height: 160px;
	}

	

	#refer .prizes .products li.product .tooltip{
		display: block;
		position: absolute;
		top: -0.5em;
		left: auto;
		right: 1em;
		width: 75px;
		height: auto;
	}

	#refer .prizes .products li.product .tooltip img{
		width: 100%;
		height: auto;
	}

	.end-text{
		width: 100%;
		
	}

	

	#refer .prizes .progress{
		width: 10px;
		height: 646px;
		left: -40px;

	}

	#refer .prizes .progress .mover{
		width: 10px;
		height:100%;
	}
	#refer .prizes .progress .mover .bar{
		width: 10px;
		height:10px;
	}

	#refer .prize-two .progress .mover .bar{ width: 10px; height: 215px; }
	#refer .prize-three .progress .mover .bar{ width: 10px; height: 430px; }
	#refer .prize-four .progress .mover .bar{ width: 10px; height: 100%; }


}

@media (max-width: 600px) {

	
	.header-logo{
    padding: 15px 0 10px 0;
    text-align: center;
    box-sizing: border-box;
	 	svg{
			width: 200px;
		}
	}
	#home .hero	{
		height: 450px;
	}
	#home .hero::after {
		opacity: .5;
	}

	#home .hero .by_cassina{
		z-index: 10;
		left: 50%;
		margin-left:-25px;
		width: 50px;
		height: 50px;
		background-size:50px 50px;
		bottom: 2em;

	}

	#home .hero .hero-text{
		margin:60px 0 0 5%;
		width: 90%;
	}

	#home .hero .large{
		font-size: 25px;
		line-height: 30px;
	}

	#home .hero .small{
		width: auto;
	}

	#home .hero p{
		line-height: 1.2;
	}



	#home .form-wrap {
		width: 100%;
	}
	#home .form-wrap{
		text-align: center;
	}
	#home .form-wrap .email{
		float: none;
		width: 90%;
		margin: 10px auto;
		box-sizing:border-box;
		padding: 30px 1em;
	}

	#home .form-wrap .submit{
		float: none;
		width: 90%;
		margin: 0 auto 10px;
	}
	#home .form-wrap .smallprint{
		float: none;
		width: 90%;
	}


	#refer .hero{
		width: auto;
		background: #000;
	}
	#refer .hero .page-content{
		width: 100%;

	}

	#refer .mammoth{
		position: absolute;
		left: -110px;
		top:0;
		z-index: -1;
		opacity: .5;
		margin-top: 0;
	  padding: 0 40px;
	}

	#refer .share-wrap{
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	#refer .share-wrap .why{
		font-size: 12px;
		color: #e4e4e4;
	}

	#refer .share-wrap .title{
		font-size: 20px;
		line-height: 25px;
		color: #fff;
	}

	#refer .share-wrap .subtitle{
		font-weight: 700;
		color: #e4e4e4;
	}

	#refer .share-wrap .copy-link{
		font-size: 9px;
		padding: 17px 10px;
		    width: 280px;

	}
}

@media (max-width: 380px) {
	#refer .prizes ul.products{
		max-width: 240px;
	}
	#refer .prizes .progress{
		left: -20px;
		top: 60px;
	}
	#refer .prizes .products li.title .rewards, #refer .prizes .products li.title .friends{
		font-size: 9px;
		width: 75px;
	}
}






































